src/main/resources/events.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eventManagement">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="events">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="event">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="eventID"/>
                                        <xs:element name="eventType">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="eventTypeId"/>
                                                    <xs:element type="xs:string" name="eventTypeName"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="venue">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="venueId"/>
                                                    <xs:element type="xs:string" name="venueName"/>
                                                    <xs:element type="xs:short" name="venueCapacity"/>
                                                    <xs:element type="xs:string" name="venueLocation"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="suppliers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="supplier" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:byte" name="supplierId"/>
                                                                <xs:element type="xs:string" name="supplierName"/>
                                                                <xs:element type="xs:string" name="supplierType"/>
                                                                <xs:element type="xs:string" name="contactName"/>
                                                                <xs:element type="xs:string" name="contactEmail"/>
                                                                <xs:element type="xs:string" name="contactPhone"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="staff">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="staffMember" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:byte" name="staffId"/>
                                                                <xs:element type="xs:string" name="firstName"/>
                                                                <xs:element type="xs:string" name="lastName"/>
                                                                <xs:element type="xs:string" name="role"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>